.home{
    background-color: #dee2e6;
    overflow: hidden;
    position: relative;
    min-height: 90vh;
    &-content{
        .col-6{
            display: flex;
            align-items: center;
            justify-content: right;
            padding-top: 1rem;
            color: var(--primary-color-text);
            &:nth-child(1){
                justify-content: left;
            }
            .icon-home{
                &-left{
                    display: inline-flex;
                    align-items: center;
                    padding: 0.5rem;
                    margin-right: 0.5rem;
                    border-top-right-radius: 1.3rem;
                    border-bottom-right-radius: 1.3rem;
                    background-color: var(--red-header);
                    img{
                        width: 30px;
                        position: relative;
                        left: 0.3rem;
                        &:hover{
                            cursor: pointer;
                        }
                    }
                }
                &-right{
                    display: inline-flex;
                    align-items: center;
                    justify-content: right;
                    background-color: var(--surface-200);
                    padding: 0.5rem;
                    margin-left: 0.5rem;
                    border-top-left-radius: 1.3rem;
                    border-bottom-left-radius: 1.3rem;
                    img{
                        width: 30px;
                        position: relative;
                        right: 0.3rem;
                    }
                }
            }
            .home-text{
                &-left{
                    span{
                        margin-bottom: 10px;
                        font-size: 1rem;
                    }
                }
                &-right{
                    span{
                        font-size: 1rem;
                    }
                }
            }
        }
        .col-6:nth-child(2){
            position: absolute;
            justify-content: center;
        }
    }
    .products{
        margin: 1rem;
        margin-top: 21rem;
        .p-card{
            background-color: var(--gray-100);
            color: var(--primary-color-text);
            font-family: 'Times New Roman', Times, serif;
            .p-card-subtitle{
                color: var(--primary-color-text);
                font-family: 'Times New Roman', Times, serif;
            }
            .grid{
                display: flex;
                justify-content: space-around;
                .col-6{
                    background-color: var(--gray-200);
                    width: 120px;
                    border-radius: 1rem;
                    .image{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        img{
                            width: 40px;
                        }
                    }
                    .text{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
    .benefits-card{
        margin: 1rem;
        cursor: pointer;
        .p-card{
            background-color: var(--gray-100);
            color: var(--primary-color-text);
            font-family: 'Times New Roman', Times, serif;
            .grid{
                display: flex;
                justify-content: space-around;
                .col-4{
                    img{
                        width: 50px;
                    }
                }
            }
        }
    }
    .carousel{
        margin: 1rem;
        color: var(--primary-color-text);
        font-family: 'Times New Roman', Times, serif;
        .grid{
            .col-6{
                display: flex;
                i{
                    margin-right: 0.5rem;
                    color: var(--red-header);
                }
            }
        }
    }
}