.benefits{
    padding: 1rem;
    background-color: #dee2e6;
    .p-card{
        background-color: var(--gray-100);
        color: var(--primary-color-text);
        font-family: 'Times New Roman', Times, serif;
    }
    .card{
        color: var(--primary-color-text);
        font-family: 'Times New Roman', Times, serif;
        background-color: var(--surface-900);
        border-radius: 0.5rem;
        position: relative;
        top: -5rem;
        padding: 1rem;
        i{
            color: var(--red-header);
        }
        .item-1, .item-5, .item-6{
            margin-bottom: 1rem;
            padding-bottom: 0.5rem;
        }
        .item-6-error{
            border-bottom: solid 1px var(--red-header);
            margin-bottom: 1rem;
            padding-bottom: 0.5rem;
        }
        .item-2, .item-3, .item-4{
            border-bottom: solid 1px var(--gray-100);
            margin-bottom: 1rem;
            padding-bottom: 0.5rem;
        }
        .col-2{
            display: flex;
            justify-content: center;
            align-items: center;
            .field-checkbox{
                margin-bottom: 0;
            }
        }
        a{
            text-decoration: underline;
            font-weight: 800;
            cursor: pointer;
        }
        .p-checkbox .p-checkbox-box{
            background-color: transparent;
            border: solid var(--green-500) 1px;
            &:hover{
                background-color: transparent;
            }
            .p-highlight{
                background-color: transparent;
                color: transparent;
                border: solid var(--green-500) 1px;
                &:hover{
                    border: solid var(--green-500) 1px;
                }
            }
            .p-checkbox-icon{
                color: var(--green-500);
            }
        }
    }
    .btn{
        position: absolute;
        left: calc(50% - 3rem);
    }
}