
<div class="my-daviplata">
    <div class="daviplata">
        <div class="circle">
            <div class="circle-content">
                <div class="title">
                    <h3>My Daviplata</h3>
                </div>
                <div class="price">
                    <h2>{{totalPrice | currency}}</h2>
                </div>
                <div class="description">
                    <span>Disponible</span>
                </div>
            </div>
        </div>
    </div>
    <div class="items">
        <div class="mid-circle-left">
            <button pButton type="button" label="Pasar plata" icon="pi pi-arrow-left" iconPos="left"></button>
        </div>
        <div class="mid-circle-right">
            <button pButton type="button" label="Sacar plata" icon="pi pi-arrow-right" iconPos="right"></button>
        </div>
    </div>
    <div class="person">
        <h1>Nana Store</h1>
    </div>
</div>
